body {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial',
        'Heltivica',
        sans-serif;
    font-style: normal;
}

header {
    width: 100%;
    min-height: 500px;
    background: #F1F3FF;
}

.nav-space {
    margin-top: 25px;
}

.slog-space {
    margin-top: 177px;
    margin-left: 90px;
}

#search-filter{
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
z-index: 9999;
margin-top: -30px;
}

#sm{
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
color: #3C3C3C;
}

/* box mobil */

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 333px;
    /* min-height: 600px; */
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}

.frame{
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.img-r{
width: 250px;
height: 200px;
margin: 20px;
}

.pilih{
    position: static;
width: 285px;
height: 48px;
left: 0px;
top: 0px;
background: #5CB85F;
border-radius: 2px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
}


nav {
    display: flex;
    background-color: #F1F3FF;
    justify-content: space-around;
    height: 36px;
    margin-top: 24px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}



.nav-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.br {
    width: 100px;
    height: 34px;
    background: #0D28A6;
    margin-left: 0px !important;
}

.btn-nav {
    position: static;
    width: 81px;
    height: 36px;
    border-radius: 2px;
    background: #5CB85F;
    border: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.slogan {
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    top: 177px;
    max-width: 568px;
}

.welcome-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    max-width: 468px;
}

.btn-mulai {
    border: 0px;
    background: #5CB85F;
    border-radius: 2px;
    width: 140px;
    height: 36px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}


.bg-car {
    position: absolute;
    width: 613px;
    top: 152px;
    left: 736px;
    z-index: 999;
}

.our-service {
    position: relative;
    width: 1027px;
    height: 428px;
    margin-top: 110px;
}

.img-blue {
    left: 99px;
}


.bg-img {
    width: 374px;
    height: 366px;
    left: 0px;
    top: -70px;
    z-index: 99999;
}

.desc-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.desc-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.service-list-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    height: 148px;
    left: 0px;
    top: 76px;
}

.img-check-list {
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.our-list {
    left: 0px;
    top: 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #000000;
    margin: 0px 16px;
}

.why {
    margin-top: 1132px;
    margin: 10px;
}

.why-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.why-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.box-icon {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    max-width: 1168px;
    height: 196px;
    right: 136px;
    left: 136px;
    top: 1244px;
}

.card {
    padding: 24px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    width: 268px;
    height: 196px;
    border-radius: 8px;
    margin: 0px 30px 0px 0px;
}


.icon {
    position: static;
    width: 32px;
    height: 32px;
    left: 24px;

}

.icon-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 16px 0px;
}

.icon-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.testimonial-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.testimonial-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.box-blue {
    width: 1168px;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
}

.bg-banner {
    background: #0D28A6;
    border-radius: 13px;
    height: 326px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}

.banner-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 468px;
    height: 40px;
    margin-left: 60px;

}

.banner-btn {
    width: 140px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: 0px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.faq-title-top {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.faq-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.faq-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.faq-answer {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.conncet {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.al {
    width: 268px;
}

.address-bottom {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.menu-bottom {
    font-size: 14px;
    line-height: 20px;
}

.cr {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.logo-bottom {
    width: 100px;
    height: 34px;
    left: 873px;
    top: 36px;
    background: #0D28A6;
}

.carousel-indicators [data-bs-target] {
    background-color: black !important;
    margin-bottom: 10px !important;
}

.carausel-setting {
    background-color: #F1F3FF;
    width: 500px;
    border-radius: 10px;
    height: 200px;
}

.text-box-testi {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.testi-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}


@media screen and (max-width:360px) {
    body {
        overflow-x: hidden !important;
    }

    header {
        width: 100%;
        /* height: 657px; */
        background: #F1F3FF;
    }

    .offcanvas {
        width: 50%;
    }

    .bg-car {
        position: static !important;
        width: 344.22px !important;
        height: 199px !important;
        top: 458px !important;
        margin-left: -20px;
        z-index: 9999;
    }

    /* a .br {
        margin-left: px;
    } */

    .br {
        width: 100px;
        height: 34px;
        background: #0D28A6;
        margin-left: -20px !important;
    }


    .slog-space {
        margin-top: 10px !important;
        margin-left: 0px !important;
    }

    .img-service {
        width: 252px;
        height: 228px;
        left: 54px;
        top: 717px;
        margin-bottom: 20px;
    }

    .why {
        margin-top: 330px !important;
    }

    .banner-title {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
    }

    .offcanvas {
        width: 60% !important;
    }

    .banner-desc {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        width: 212px !important;
        height: 40px;
        margin-left: 0 !important;
    }

    .wd {
        width: 212px !important;
    }

    .carausel-setting {
        height: 372px;
    }
}